* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgb(245, 245, 245);
    overflow: auto;
}

.scenic-spot__root {
    margin: 0 auto;
    /* margin-top: 7em; */
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    color: #4d4d4d;
    font-weight: 300;
}

.scenic-spot__header {
    margin-bottom: 1em;
}

.scenic-spot__title {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
    padding: 0;
}

.scenic-spot__main {
    width: 100%;
}


.scenic-spot__main {
    background: rgb(254, 254, 254);
}

.scenic-spot__list {
    list-style: none;
    padding: 0;
    margin: 0;
    background:rgb(245, 245, 245);
    /* 5*5=25 */
    /* max-height: 25em; */
    /* overflow: scroll; */
}


.scenic-spot__view-buttons {
    position: fixed;
    left:1em;
    display: flex;
    margin: 0;
    margin-left: 2em;
    padding: 0;
    width: 12em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.scenic-spot__view-buttons button {
    border: none;
    padding: 5px;
    font-size: 0.8em;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    color:rgb(12, 0, 56);
}

.scenic-spot__view-buttons button:focus {
    outline: none;
}
.city-buttons button{
    color:black
}

